.My_projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.My_projects h1 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.no_projects {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.no_projects a {
  width: fit-content;
}

.project_container {
  width: 68rem;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.project_container_center {
  width: 68rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}
